<% provide :title, 'Filmes' %>

<div id='presenter' class='jumbotron'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				
			</div>
		</div>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<ul class='breadcrumb'>
				<li><%= link_to 'Home',   root_path %></li>
				<li><%= link_to 'Filmes', movies_path %></li>
			</ul>

			<%= render @movies %>
			<%= pagination @movies %>

		</div>
	</div>
</div>