<footer class='jumbotron'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				<div class='col-md-5'>
					<ul class='list-unstyled'>
					 	<li><h1>ALVOROÇO <small>FILMES</small></h1></li>
					</ul>					
				</div>
				<div class='col-md-2 col-md-offset-1'>
					<ul class='list-unstyled'>
					 	<li><h4><i class='glyphicon glyphicon-search'></i> SITEMAP</h4></li>
					</ul>					
				</div>
				<div class='col-md-2'>
					<ul class='list-unstyled'>
					 	<li><h4><i class='glyphicon glyphicon-search'></i> LINKS UTEIS</h4></li>
					</ul>
				</div>
				<div class='col-md-2'>
					<ul class='list-unstyled'>
						<li><h4><i class='glyphicon glyphicon-search'></i> EXTRAS</h4></li>
					</ul>
				</div>
			</div>
			<div class='col-md-12'>
				<ul class='list-unstyled text-center'>
					<li><h4><strong><i class='glyphicon glyphicon-search'></i> ALVOROÇO FILMES</strong></h4></li>
					<li><p>Todos os direitos reservados &copy <%= Date.today.year %></p></li>
				</ul>
			</div>
		</div>
	</div>
</footer>